---
title: bulkblank
seoDescription: bulkblank helps you keep track of multiple urls that you have to open

script: /js/main.js
---

<div class="bb-container py-12">

<h1 class="text-center font-semibold text-lg text-gray-500">bulkblank helps you keep track of multiple urls that you have to open</h1>
<textarea id="url-textarea" placeholder="Type or paste your URLs here" class="block border-b-2 mt-4 border-gray-300 rounded-md shadow-sm w-full focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50" rows="12">
</textarea>

  <p class="mt-8 text-center">
    <button id="parse-button" class="bb-button">Parse URLs</button>
  </p>
  
  <section id="url-list" class="py-4 mt-8">
  </section>
</div>